$White: #ffffff;
$BlueLightest: #f6f9fd;
$BlueLight: #dbeaf7;

$Blue: #109fca;
$Black: #000000;
$Green: #06c847;

$TextLink: #4da8ff;
$Grey1: #1e1e1e;
$Grey2: #212528;
$Grey3: #464a4d;
$Grey4: #808082;
$Grey5: #a3a3a3;
$TextDark: #234361;
$TextDefault: #425a70;
$TextMuted: #66788a;
$Link: #4da8ff;
