@media (min-width: 768px) {
  .projects__box {
    display: inline-block;
    margin: 24px;
  }
}

@media (min-width: 920px) {
  .mySkills {
    display: grid;
    grid-template-areas:
      "header header header"
      "first second third";
    max-width: 100vw;
    margin: 0 auto;

    &__header {
      @include Header100;
      margin-top: 80px;
      margin-bottom: 128px;
      color: $White;
      grid-area: header;
    }

    &__heading {
      @include Text;
      color: $White;
    }
  }

  .projects {
    &__header {
      @include Header100;

      margin-bottom: 40px;
    }

    &__intro {
      margin-bottom: 46px;
      @include Text;
      max-width: 80vw;
    }
  }

  .aboutMe {
    margin: 0 auto;
    margin-top: 90px;

    &__avatar {
      width: 178px;
      height: 178px;
      margin-top: 34px;
      margin-bottom: 40px;
      box-shadow: 0 0 24px $Grey4;
    }

    &__cloud {
      display: inline-block;
      position: absolute;
      top: 75px;
    }

    &__cloudTxt {
      background-color: $Blue;
      font-weight: 700;
      color: $White;
      width: 230px;
      height: 72px;
      font-size: 32px;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    &__cloudImg {
      position: relative;
      left: -70px;
    }

    &__brackets {
      background-image: url(../assets/img/brackets.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
    }

    &__primary {
      @include Header200;
      padding: 0 70px;
      max-width: 1000px;
      margin: 0 auto;
      margin-bottom: 48px;
    }

    &__secondary {
      @include Text;
      padding: 0 90px;
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 24px;
      margin-bottom: 48px;
      text-align: justify;
      text-indent: 5em;

      &--thanks {
        text-align: center;
        text-indent: 0;
      }
    }

    &__email {
      @include TextBold;
      color: $White;
    }
  }

  .contact {
    &__header {
      @include Header100;
      color: $TextDark;
    }

    &__text {
      @include Text;
      color: $TextDefault;
    }
  }
}
