@keyframes bracketLeft {
  from {
    left: -480px;
  }
  to {
    left: 0;
  }
}
@keyframes bracketRight {
  from {
    left: -1480px;
  }
  to {
    left: 0;
  }
}

@media (min-width: 768px) {
  .projects__box {
    display: inline-block;
    margin: 24px;
  }
}

@media (min-width: 920px) {
  .mySkills {
    display: grid;
    grid-template-areas:
      "header header"
      "first second";
    max-width: 1184px;
    margin: 0 auto;

    &__header {
      @include Header100;
      margin-top: 80px;
      margin-bottom: 128px;
      color: $White;
      grid-area: header;
    }

    &__heading {
      @include Text;
      color: $White;
    }
  }

  .projects {
    &__header {
      @include Header100;

      margin-bottom: 40px;
    }
    &__intro {
      margin-bottom: 46px;
      @include Text;
    }
  }

  .aboutMe {
    margin: 0 auto;
    margin-top: 90px;

    &__avatar {
      width: 228px;
      height: 228px;
      margin-top: 34px;
      margin-bottom: 40px;
      box-shadow: 0 3px 24px 5px $Grey2;
    }

    &__cloud {
      display: inline-block;
      position: absolute;
      top: 50px;
      width: 230px;
      height: 110px;
      background-image: url(../assets/img/conversation.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &__cloudTxt:hover {
      color: white;
      text-shadow: white;
      transition: all 2s;
    }
    &__cloudTxt {
      font-family: "Charmonman", cursive;
      letter-spacing: 5px;
      position: relative;
      font-weight: 700;
      color: $Grey4;
      font-size: 32px;
      top: 30px;
      left: 5px;
      transition: all 1.5s;
    }

    &__cloudImg {
      position: relative;
      left: -70px;
    }

    &__primary {
      @include Header200;
      padding: 0 70px;
      max-width: 1000px;
      margin: 0 auto;
      margin-bottom: 48px;
      display: inline-block;
    }

    &__secondary {
      @include Text;
      padding: 0 90px;
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 24px;
      margin-bottom: 48px;
      text-align: justify;
      text-indent: 5em;

      &--thanks {
        text-align: center;
        text-indent: 0;
      }
    }

    &__email {
      @include TextBold;
      color: $White;
    }
  }

  .contact {
    &__header {
      @include Header100;
      color: $TextDark;
    }

    &__text {
      @include Text;
      color: $TextDefault;
    }
  }
  .aboutMe__brackets::before,
  .aboutMe__brackets::after {
    content: "";
    display: inline-block;
    height: 80px;
    width: 80px;
    background-size: contain;
    background-image: url("../assets/img/code.svg");
    background-repeat: no-repeat;
    stroke: red;
    position: relative;
    top: 35px;
  }
  .aboutMe__brackets::before {
    background-image: url("../assets/img/leftcode.svg");
  }
  .aboutMe__brackets::before {
    animation: bracketLeft 0.8s ease-in-out;
  }
  .aboutMe__brackets::after {
    animation: bracketRight 1.8s ease-in-out;
  }
}
