@mixin MobileHeader200 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: $Black;
}

@mixin MobileHeader100 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $Black;
}

@mixin MobileStyles {
  font-weight: 400;
  font-size: 32px;
  line-height: 56px;
  color: $TextMuted;
}

@mixin MobileText {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: $Black;
}

@mixin MobileTextBold {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: $Black;
}

@mixin MobileConsole {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 400px;
  line-height: 24px;
}
@mixin MobileConsoleBold {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 700px;
  line-height: 24px;
}

@mixin Header200 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: $Black;
}

@mixin Header100 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: $Black;
}

@mixin Header300 {
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: $Black;
}

@mixin Text {
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: $Black;
}

@mixin TextBold {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: $Black;
}

@mixin Console {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;

}
@mixin ConsoleBold {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 700px;
  line-height: 24px; }